  /*Google Font */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

body {
  background-color: #fff;
  margin-bottom: -100px;
  padding-top: 70px;
font-family: 'Roboto Condensed', sans-serif;
}

.logo{
  background-image: url(../img/logo.svg);
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: center;
}


hr {
  border: 0;
  border-top: 2px solid #fff;
}

/*----Nav Styles-----*/

.bg-light {
  background-color: #fff !important;
  border-radius: none;
  border: none;
}

/*---Header Styles---*/
header {
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/mainBG.png);
  background-size: cover;
}

.header-content {
  padding-top: 50px;
}

.ipad {
  max-height: 640px;
}

/*---Element Styles---*/
h1 {
    font-size: 50px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #363636;
    line-height: 80px;
    margin-bottom: 20px;
}

h1 span {
  font-weight: 400;
  color: #953412;
  display: block;
  font-size: 40px;
  letter-spacing: -2px;
}

h2 {
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
    color: #953412;
    }

h2 span {
  font-size: 30px;
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  color: #3e95a6;
  line-height: 40px;
  margin-bottom: 20px;
}

h4 {
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 0px;
  color: #eee !important;
}

.email {
  width: 100%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

label {
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 25px;
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #eee;
}

.btn-primary {
  background-color: #953412;
  border-color: #953412;
  color: #eee;
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.btn-primary:hover {
  color: #eee;
  background-color: #333;
  border-color: #333;
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

p {
  font-size: 20px;
  font-weight: 400;
font-family: 'Roboto Condensed', sans-serif;
}

p.scroll-text {
  font-style: 25px;
  padding: 0;
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}

/*---Spacer Styles--*/
#sectionSpacer {
  height: 110px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 0px;
}

#sectionSpacer2 {
  height: 110px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 0px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/spacer.png);
}

#sectionSpacer3 {
  height: 110px;
  width: 100%;
  background-color: #fff;
  margin-bottom: 0px;
}

/*---Section One Styles--*/
#sectionOne {
  width: 100%;
  background-repeat: no-repeat;
  height: auto;
  background: #fff;

}

#sectionOne h2 span {
    font-size: 30px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #3e95a6;
    line-height: 40px;
    margin-bottom: 20px;
}

.big-img {
  max-height: 580px;
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
  margin-bottom: 100px;
}

.svg-wrapper {
  margin-top: 30px;
  margin-bottom: 100px;
}

.svg {
  width: 100%;
  box-shadow: 0px 0px #fff;
  height: 330px;
  margin-bottom: 20px;
  overflow-y: hidden;
}



/*--Section 2 Styles--*/
#sectionTwo {
  width: 100%;
  background-repeat: no-repeat;
  height: 1000px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/section2.png);
}

span.no-color {
  color: #333 !important;
}

#sectionTwo img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border: 1px solid #333;
}

/*--Section 3 Styles--*/
#sectionThree {
  width: 100%;
  background-color: #9b3718;
  height: auto;
  padding-top: 0px;
  background: #fff;
  margin-bottom: 100px;
}

/*--Device Styles--*/
.device-wrapper {
  max-width: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}

.device-text-wrapper {
  margin-top: 50px;
}

/*--Footer Styles--*/
footer#footer {
  background-image: url(../img/footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #eee;
  font-size: 18px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 100%;
}

#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #3e95a6;
  text-indent: -9999px;
  display: none;
  z-index: 10;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  background-color: #953412;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

#footer h2 {
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 10px;
  color: #eee;
}

.icon-wrapper {
  width: 100%;
  height: auto;
  text-align: left;
  padding: 20px;
}

.icon {
  color: #9b2a07;
}

.footer-links {
  margin-top: 3px;
  padding: 0 !important;
}

#footer .email-signup input {
  background-color: #eee;
  border: 3px solid #979797;
  padding: 21px;
  font-size: 24px;
  width: 100%;
  margin: 0 auto;
  display: block;
  color: #333;
}

.request {
  font-size: 25px !important;
font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  line-height: 40px;
  padding-right: 20px;
  }

.contact {
    padding-top: 60px;
    padding-bottom: 80px;
}

.info {
  color: #eee;
  margin: 0;
  font-size: 15px;
}

.copyright {
  color: #eee;
  margin: 0;
  padding-top: 20px;
  font-size: 12px;
  padding-bottom: 10px;
}

/*--------Media Queries-------*/

/*--------Medium Breakpoint-------*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 5px;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }

  header {
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/mainBG.png);
    background-size: cover;
  }

  #scroll {
    background-color: #478b8d;
    opacity: 0.4;
  }

  h1 {
    font-size: 35px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #363636;
    line-height: 80px;
    margin-bottom: 20px;
  }

   p.small-screen{
  	padding-left: 20px!important;
  	font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
font-family: 'Roboto Condensed', sans-serif;
}

  #sectionTwo p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
font-family: 'Roboto Condensed', sans-serif;
    text-align: left !important;
  }

  h1 span {
    font-weight: 400;
    color: #953412;
    display: block;
    font-size: 30px;
    letter-spacing: -2px;
  }

  #sectionTwo {
    width: 100%;
    background-repeat: no-repeat;
    height: 1300px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/section2.png);
  }

  .device-text-wrapper {
    margin-top: 0;
  }

  h4 {
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    color: #333;
  }

  .request {
  	text-align: left!important
    font-size: 25px !important;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 40px;
  }

  #footer h2 {
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #eee;
  }

  .footer-link {
    font-size: 15px;
  }
  .info {
    color: #bababa;
    font-size: 18px;
  }
}

/*--Small Medi Queries---*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .navbar-toggler {
    margin-right: 10px;
  }

  .logo {
    max-width: 200px;
    width: 100%;
    margin-left: 10px;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  header {
    width: 100%;
    height: 920px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/mainBG.png);
    background-size: cover;
  }

  #scroll {
    background-color: #478b8d;
    opacity: 0.4;
  }

  h1 {
    font-size: 40px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #363636;
    line-height: 80px;
    margin-bottom: 0px;
  }

  h1 span {
    font-weight: 400;
    color: #953412;
    display: block;
    font-size: 30px;
    letter-spacing: -2px;
  }

#sectionOne h2 span {
    font-size: 30px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #478b8d;
    line-height: 40px;
    margin-bottom: 20px;
}

#sectionOne .col-sm-4{
	border-bottom: 1px solid #eee;
	margin-top: 20px;
}

.ped{
	border-bottom: 1px solid #eee;
	margin-top: 20px;
}


    p.small-screen{
  	padding-left: 20px!important;
  	font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
font-family: 'Roboto Condensed', sans-serif;
}

  .header-content {
    padding-top: 0px;
  }

#sectionTwo h2 span {
    font-size: 23px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #478b8d;
    line-height: 40px;
    margin-bottom: 20px;
    display: inline;
}

  #sectionTwo {
    width: 100%;
    background-repeat: no-repeat;
    height: 2000px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/section2.png);
  }

  #sectionTwo p {
    text-align: left !important;
  }


  .info {
    color: #bababa;
    text-align: left !important;
    font-size: 18px;
  }

  #footer h2 {
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #eee;
  }

  .request {
  	text-align: left!important
    font-size: 25px !important;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 40px;
  }
}

/*--Xtra Small Media Queries--*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .navbar-toggler {
    margin-right: 10px;
  }

  .logo {
    max-width: 200px;
    width: 100%;
    margin-left: 10px;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }

  #scroll {
    background-color: #478b8d;
    opacity: 0.4;
  }

  header {
    width: 100%;
    height: 1020px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/mainBG.png);
    background-size: cover;
  }

  h1 {
    font-size: 40px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #363636;
    line-height: 80px;
    margin-bottom: 0px;
  }

  h1 span {
    font-weight: 400;
    color: #953412;
    display: block;
    font-size: 30px;
    letter-spacing: -2px;
  }

   p.small{
  	padding-left: 20px!important;
  }

  .header-content {
    padding-top: 0px;
  }

  h2 span {
    font-size: 23px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #478b8d;
    line-height: 40px;
    margin-bottom: 20px;
    display: block;
  }

  #sectionTwo {
    width: 100%;
    background-repeat: no-repeat;
    height: 2000px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/section2.png);
  }

  .ped{
	border-bottom: 1px solid #eee;
	margin-top: 20px;
}


  #sectionTwo p {
    text-align: left !important;
  }


  #sectionSpacer3 {
    height: 0px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 0px;
  }


  .info {
    color: #bababa;
    text-align: left !important;
    font-size: 18px;
  }

  #footer h2 {
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #eee;
  }

  .info-title {
    text-align: left !important;
  }

  .request {
  	text-align: left!important
    font-size: 25px !important;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    line-height: 40px;
  }

  .form-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
}

 .btn-primary {
    background-color: #953412;
    border-color: #953412;
    color: #eee;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
}

  .input-group{
    width: 200px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 

h1 {
    font-size: 30px;
font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #363636;
    line-height: 80px;
    margin-bottom: 0px;
}

 p.small-screen{
  	padding-left: 20px!important;
  	font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
font-family: 'Roboto Condensed', sans-serif;
}


}


